---
layout: layouts/base.njk
permalink: /et/hinnakiri/index.html
lang: et
active: prices
title: "Hinnakiri"
description: "Fotograafia hinnakiri — toidu-, toote- ja sündmustööd."
alternate_url: /prices/
alternate_url_en: /prices/
alternate_url_et: /et/hinnakiri/
---
{% include "pages/prices.njk" %}
